@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

p {
    font-size: 10px;
    line-height: 12px;
    @apply text-gray3;
}
